@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-2">
        @* Explore Section *@
        <div class="p-3">
            <ul class="nav flex-column">
        
                <li class="nav-item">
                    <span class="text-muted fw-bold ps-3 mb-2 d-block">
                        Explore
                    </span>
                </li>

                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center py-2 px-3 rounded-3 bg-opacity-10" 
                           asp-area="" asp-controller="Home" asp-action="Index">
                        @* <i class="bi bi-house me-3 fs-5"></i> *@
                        <button class="btn btn-sm btn-outline-primary">
                            Home
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center py-2 px-3 rounded-3 bg-opacity-10"
                           asp-area="" asp-controller="Posts" asp-action="Index">
                        @* <i class="bi bi-arrow-up-right-circle me-3 fs-5"></i> *@
                        <button class="btn btn-sm btn-outline-primary">
                            New Posts
                        </button>
                    </a>
                </li>
                
                @* TODO: *@
                @* ROUTE DOESNT EXIST CREATE COMPANY VIEW *@
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center py-2 px-3 rounded-3 bg-opacity-10" 
                           asp-area="" asp-controller="Companies" asp-action="Companies">
                        @* <i class="bi bi-arrow-up-right-circle me-3 fs-5"></i>  *@
                        <button class="btn btn-sm btn-outline-primary">
                            Companies
                        </button>
                    </a>
                </li>

                <li class="nav-item mt-4">
                    <span class="text-uppercase text-muted fw-bold ps-3 mb-2 d-block">
                        Profile
                    </span>
                </li>

                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center py-2 px-3 rounded-3 bg-opacity-10" href="#">
                        @* <i class="bi bi-newspaper me-3 fs-5"></i> *@

                        @if (User.IsInRole("Company") || User.IsInRole("StudentOrganization"))
                        {
                            <a class="nav-link text-dark" asp-area="" asp-controller="Posts" asp-action="MyPosts">
                                <button class="btn btn-sm btn-outline-primary">
                                    My Posts
                                </button>
                            </a>
                        }
                        else if (User.IsInRole("Individual"))
                        {
                            <a class="nav-link text-dark" asp-area="" asp-controller="Applications" asp-action="MyApplications">
                                <button class="btn btn-sm btn-outline-primary">
                                    My Applications
                                </button>
                            </a>
                        }
                    </a>
                </li>

                <li class="nav-item mt-4">
                    <span class="text-uppercase text-muted fw-bold ps-3 mb-2 d-block">
                        Tools
                    </span>
                </li>


                @* TODO: *@
                @* IF WE MAKE PAGE *@
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center py-2 px-3 rounded-3 bg-opacity-10" 
                           asp-area="" asp-controller="Home" asp-action="Index">
                        @* <i class="bi bi-newspaper me-3 fs-5"></i>  *@
                        <button class="btn btn-sm btn-outline-primary">
                            AI Assistant
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    @* Middle Section*@
    <div class="col-md-8">
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>

    </div>

    @* Profile Section *@
    <div class="col-md-2">
    </div>
</div>