<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InterLinked</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InterLinked.styles.css" asp-append-version="true" />
    <style>
            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
            }
            .footer {
                position: static !important;
                height: auto !important;
            }
    </style>
</head>
<body class="d-flex flex-column min-vh-100 overflow-x-hidden">
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom mb-3 px-3">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold fs-2" asp-area="" asp-controller="Home" asp-action="Index">InterLinked</a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1"></ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="container flex-grow-1 w-100 pb-3">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted py-3 w-100 bg-white">
        <div class="container text-center">
            &copy; 2026 - InterLinked - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>